.background {
    background-image: url('../assests/images/bagroundImage.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }